<!DOCTYPE html>
<html lang="pt_br">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta codigoSecreto="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/style/style.css">
        <title>PWeb - by Xico Arruda</title>
    </head>
    <body>
    
    <ul>
      <li><a class="ativo" href="/">Início</a></li>
      <li><a href="adicionarPessoa.html">Adicionar pessoa</a></li>
      <li><a href="/listarPessoas.html">Listar pessoas</a></li>
      <li><a href="/public/noticias.html">Canais de notícias</a></li>
      <li><a href="/public/contato.html">Mande um e-Mail</a></li>
      <li id="sobre"><a href="/public/sobre.html">Sobre o site</a></li>
    </ul>

      <h1>Formulário para cadastro de pessoas:</h1>

      <p>Nome completo *: <input type="text" name="nomeUsuario" id="nUsuario" size="13" maxlength="50" placeholder="Seu nome completo"></p>

      <p>Data de nascimento *: <input type="date" name="dataNascimento" id="dNascimento" size="6"> </p>

      <p>e-Mail *: <input type="email" name="email" id="email" size="13" placeholder="nome@dominio.com"> </p>

      <p>Sexo *:</p>
    
        <input class="inputSexo" type="radio" name="sexo" id="sMasculino"> <label for="sMasculino">Masculino</label><br>
        
        <input class="inputSexo" type="radio" name="sexo" id="sFeminino"> <label for="sFeminino">Feminino</label><br>

        <input class="inputSexo" type="radio" name="sexo" id="sNinformado"> <label for="sNinformado">Não informar</label><br>

        <input class="botao" id="bLimpar" type="button" value="Limpar">
        <a href="adicionadaComSucesso.html">
          <input class="botao" type="button" value="Cadastrar!"></a>
    
        
      <p>Campo obrigatório *</p>

</body>

</html>