<!DOCTYPE html>
<html lang="pt_br">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta codigoSecreto="2015459734">
        <link rel="icon" type="image/x-icon" href="public/favicon.ico">
        <link th:href="@{/style/style.css}" rel="stylesheet">
        <title>PWeb - by Xico Arruda</title>
    </head>
    <body>
    
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
      <li><a class="ativo" href="/listarPessoas">Listar pessoas</a></li>
      <li><a href="/public/noticias.html">Canais de notícias</a></li>
      <li><a href="/public/contato.html">Mande um e-Mail</a></li>
      <li id="sobre"><a href="/public/sobre.html">Sobre o site</a></li>
    </ul>

    <div style="text-align: center;">
        <H1>Lista de pessoas cadastradas</H1>
    </div>
      <table>
          <thead>
          <tr>
              <th>Id</th>
              <th>Nome completo</th>
              <th>Data de nascimento</th>
              <th>e-Mail</th>
              <th>Gênero</th>
              <th>Editar</th>
              <th>Remover</th>
          </tr>
        </thead>
    </div>

        <tbody>
            <tr th:each="umaPessoa: ${todasAsPessoas}">
                <td th:text="${umaPessoa.id}"></td>
                <td th:text="${umaPessoa.nome}"></td>
                <td>
                    <a th:href="'mailto:'+${umaPessoa.email}" th:text="${umaPessoa.email}"></a>
                </td>
                    <td th:text="${#temporals.format(umaPessoa.dataNascimento, 'dd/MM/yyyy')}"></td>
                    <td th:text="${umaPessoa.genero}"></td>
                <td>
                    <a th:href="@{/editar/{id}(id=${umaPessoa.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/remover/{id}(id=${umaPessoa.id})}">Remover</a>
                </td>

        </tbody>
      </table>
</body>

</html>