* {
  font-family: 'Signika Negative', sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #2c1504;
}

.primary-color {
  color: #2c1504;
}

.secondary-color {
  color: #ffb7ce;
}

/* NAVBAR */
#navbar {
  background-color: #fda8c3;
}

#navbar a {
  color: #4b2c17;
}

#navbar a:hover {
  color: #CB0065;
}

#navbar .active {
  border-bottom: 1px solid #4b2c17;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 55px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
  padding-top: 0.3em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
  
  /* FORMS */
  
  input {
    margin-bottom: 10px;
  }
  
  .button {
    padding: 8px 13px;
    margin-top: 10px;
    margin-right: 4px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
  }

  #limpar {
    background-color: rgb(197, 0, 43);
  }

  #cadastrar {
    background-color: rgb(0, 179, 45);
  }
  
  
  /* TABLE */
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px 0 8px 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  
  /* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}

/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #ffb7ce;
  padding-top: 2em;
}

#footer-bottom p {
  text-align: center;
}

#footer-bottom i {
  color: #CB0065;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #ffb7ce;
    border-right: 1px solid #ffb7ce;
  }

  #links-container {
    padding-left: 2em;
  }
}