* {
  font-family: 'Signika Negative', sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #2c1504;
}

.primary-color {
  color: #2c1504;
}

.secondary-color {
  color: #ffb7ce;
}

/* NAVBAR */
#navbar {
  background-color: #fda8c3;
}

#navbar a {
  color: #4b2c17;
}

#navbar a:hover {
  color: #CB0065;
}

#navbar .active {
  border-bottom: 1px solid #4b2c17;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 55px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
  padding-top: 0.3em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

  
  /* FORM*/
  
  .form {
    padding-top: 10em;
    padding-bottom: 10em;
  }

  input {
    margin-bottom: 10px;
  }
  
  .button {
    padding: 8px 13px;
    margin-top: 10px;
    margin-right: 4px;
    color: white;
    border: none;
    cursor: pointer;
  }

  #reset {
    background-color: #cb003d;
  }

  #submit {
    background-color: #01b66b;
  }
  
  /* TABLE */
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px 0 8px 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  
  /* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #CB0065;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
  
}

#news-container,
#contact-container,
#lorem-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}



#lorem-container li {
  margin-bottom: 0.5em;
}



/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #ffb7ce;
  padding-top: 2em;
}

#footer-bottom p {
  text-align: center;
}

#footer-bottom i {
  color: #CB0065;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #ffb7ce;
    border-right: 1px solid #ffb7ce;
  }

  #lorem-container {
    padding-left: 2em;
  }
}



































/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
