<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="public/favicon.ico">
    <link th:href="@{style/style.css}" rel="stylesheet">
    <title>Slurpuff Shop</title>
</head>
<body>
    <ul class="menu">
        <li><a href="/">Início</a></li>
        <li><a href="/login">Login</a></li>
        <li><a class="ativo" href="/cadastro">Cadastro</a></li>
        <li><a href="/public/contato.html">Fale conosco</a></li>
        <li id="sobre"><a href="/public/sobre.html">Sobre a Slurpuff</a></li>
      </ul>



      <footer>
          <img 
          width
          class="social-media"
          th:src="@{/imagens/insta_logo.png}" 
          alt="logotipo do Instagram"
          title="Instagram">
          <img 
          class="social-media"
          th:src="@{/imagens/twitter_logo.png}" 
          alt="logotipo do Twitter"
          title="Twitter">
      </footer>
</body>
</html>