<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="public/favicon.ico">
    <link th:href="@{style/style.css}" rel="stylesheet">
    <title>Slurpuff Shop</title>
</head>
<body>
    <ul class="menu">
        <li><a href="/">Início</a></li>
        <li><a href="/login">Login</a></li>
        <li><a class="ativo" href="/cadastro">Cadastro</a></li>
        <li><a href="/public/contato.html">Fale conosco</a></li>
        <li id="sobre"><a href="/public/sobre.html">Sobre a Slurpuff</a></li>
      </ul>

    
    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
          <h1>Formulário de cadastro:</h1>
    
          
    <form 
      method="post"
      th:object="${cliente}"
      th:action="@{/cadastro}">
    
          <p>
            Nome completo *: <input type="text" placeholder="Seu nome completo." th:field="*{nome}" required>
          </p>
    
          <p>
            Cidade *: <input type="text" placeholder="Sua cidade." th:field="*{cidade}" required>
          </p>

          <p>
            CEP *: <input type="text" placeholder="CEP." th:field="*{cep}" required>
          </p>

          <p
          >Data de nascimento *: <input type="date" placeholder="dd/mm/aaaa" th:field="*{dataNascimento}" required> 
        </p>
    
          <p>
            e-Mail *: <input type="email" placeholder="nome@dominio.com" th:field="*{email}" required> 
          </p>
    
          <p>Gênero *:</p>
        
          <p>
            <input type="radio" name="genero" value="Masculino" th:field="*{genero}" required>Masculino
          </p>
            
          <p>
            <input type="radio" name="genero" value="Feminino" th:field="*{genero}" required>Feminino
          </p>
    
          <p>
            <input type="radio" name="genero" value="Não informar" th:field="*{genero}" required>Não informar
          </p>  
    
            <input class="button" type="reset" value="Limpar">
            <input class="button" type="submit" value="Cadastrar!"></a>  
    </form>
            
          <p>Campo obrigatório *</p>
    </div>


      <footer>
          <img 
          width
          class="social-media"
          th:src="@{/imagens/insta_logo.png}" 
          alt="logotipo do Instagram"
          title="Instagram">
          <img 
          class="social-media"
          th:src="@{/imagens/twitter_logo.png}" 
          alt="logotipo do Twitter"
          title="Twitter">
      </footer>
</body>
</html>