<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="public/favicon.ico">
    <title>Slurpuff Shop</title>

    <!-- Google fonts Signika Negative -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!-- CSS do projeto -->
    <link th:href="@{style/style.css}" rel="stylesheet">
    <!-- JavaScript Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top bg-primary-color" id="navbar">
  <div class="container py-3">
    <a class="navbar-brand" href="/">
      <img src="imagens/slurpuff_shiny.png" alt="Slurpuff Shop"/>
      <span>Slurpuff Shop</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-items"
      aria-controls="navbar-items"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cadastro">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    
      <div class="container form">
    
          <h1>Formulário de cadastro:</h1>
    
          
    <form 
      method="post"
      th:object="${cliente}"
      th:action="@{/cadastro}">
    
          <p>
            Nome completo *: <input type="text" placeholder="Seu nome completo." th:field="*{nome}" required>
          </p>

          <p>
            Data de nascimento *: <input type="date" placeholder="dd/mm/aaaa" th:field="*{dataNascimento}" required> 
          </p>

          <p>
            e-Mail *: <input type="email" placeholder="nome@dominio.com" th:field="*{email}" required> 
          </p>

          <p>
            CEP *: <input type="text" placeholder="CEP." th:field="*{cep}" required>
          </p>
    
          <p>Gênero *:</p>
        
          <p>
            <input type="radio" name="genero" value="Masculino" th:field="*{genero}" required>Masculino
          </p>
            
          <p>
            <input type="radio" name="genero" value="Feminino" th:field="*{genero}" required>Feminino
          </p>
    
          <p>
            <input type="radio" name="genero" value="Não informar" th:field="*{genero}" required>Não informar
          </p>  
    
          <p>Endereço</p>
            <p>Logradouro *:
                <input type="text" placeholder="Rua, Av, Travessa..."></p>
            <p>Número *:
                <input type="number" name="tNum" id="cNum" min="0" max="9999" size="5" th:field="*{numeroCasa}"></p>
            <p>Estado *:
                <select th:field="*{estado}">
                    <optgroup label="Região Sudeste">
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="SP">São Paulo</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="ES">Espírito Santo</option>
                    </optgroup>
                    <optgroup label="Região Sul">
                        <option value="PR">Paraná</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="RS">Rio Grande do Sul</option>
                    </optgroup>
                    <optgroup label="Região Nordeste">
                        <option value="AL">Alagoas</option>
                        <option value="BA">Bahia</option>
                        <option value="RN">Rio Grande do Nordeste</option>
                        <option value="CE">Ceará</option>
                        <option value="MA">Maranhão</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="SE">Sergipe</option>
                    </optgroup>
                    <optgroup label="Região Norte">
                        <option value="AC">Acre</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="PA">Pará</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="TO">Tocantins</option>
                    </optgroup>
                    <optgroup label="Região Centro-Oeste">
                        <option value="GO">Goiás</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso Do Sul</option>
                        <option value="DF">Distrito Federal</option>
                    </optgroup>

                </select></p>
                <p>
                  Cidade *: <input type="text" placeholder="Sua cidade." th:field="*{cidade}" required>
                </p>

                <p>Campo obrigatório *</p>
                
            <input id="reset" class="button" type="reset" value="Limpar">
            <input id="submit" class="button" type="submit" value="Cadastrar!">

              </form>
            
              
    
        </div>

   
      <!-- FOOTER -->
<footer class="container-fluid bg-dark-color" id="footer">
  <div class="container">
    <div class="row">
      <!-- FOOTER TOP -->
      <div class="col-12" id="footer-top">
        <div class="row justify-content-between">
          <div class="col-4">
            <h2>
              Slurpuff Shop
            </h2>
          </div>
          <div class="col-4" id="social-icons">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-twitter"></i>
          </div>
        </div>
      </div>
      <!-- FOOTER DETAILS -->
      <div class="col-12" id="footer-details">
        <div class="row">
          <div class="col-12 col-md-4" id="news-container">
            <h4>Fique por dentro das novidades</h4>
            <p class="secondary-color">
              Inscreva-se para saber em primeira mão
            </p>
            <form>
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Digite o seu e-mail"
                />
              </div>
              <button class="btn btn-dark">Inscrever</button>
            </form>
          </div>
          <div class="col-12 col-md-4" id="contact-container">
            <h4>Formas de contato</h4>
            <p class="secondary-color">(84)9999-9999</p>
            <p class="secondary-color">contato@gmail.com</p>
          </div>
          <div class="col-12 col-md-4" id="lorem-container">
            <div class="row">
              <h4>Lorem ipsum</h4>
              <p class="secondary-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur in tenetur quidem, rem consectetur incidunt! Iste ullam voluptatem similique quidem asperiores illo mollitia, exercitationem voluptatibus fugit velit, accusamus maxime nulla.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER BOTTOM -->
      <div class="col-12" id="footer-bottom">
        <div class="row justify-content-center">
          <div class="col-12 col-md-3">
            <p class="secondary-color">Slurpuff Shop &copy; 2022</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>